# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
import psycopg2
from dotenv import load_dotenv
import os

In [2]:
# Create a connection to the database
load_dotenv()
pgpass = os.getenv('pgpass')
conn = psycopg2.connect(database = 'suspicious_transactions', user = 'postgres', password = pgpass, port = 5432)

In [62]:
# Write function that locates outliers using standard deviation
def std_outlier(id):
    query = f'''
    select date, amount
    from anon_data
    where cardholder_id = {id}
    order by date;
    '''
    df = pd.read_sql(query, conn).set_index('date')
    upper_range = (df['amount'].std()) + df['amount'].median()
    outlier_df = df[df['amount'] > upper_range]
    
    print(f"the median is {df['amount'].median()}")
    print(f"the upper range is {upper_range}")
    print(f"there are {outlier_df.count()[0]} outliers for cardholder id #{id}")
    return outlier_df

In [65]:
# Find anomalous transactions for 3 random card holders
std_outlier(25)

the median is 10.145
the upper range is 318.8635326800269
there are 9 outliers for cardholder id #25

                     amount
date
2018-01-30 18:31:00  1177.0
2018-03-06 07:18:09  1334.0
2018-04-08 06:03:50  1063.0
2018-05-13 06:31:20  1046.0
2018-06-04 03:46:15  1162.0
2018-06-06 21:50:17   749.0
2018-06-22 06:16:50  1813.0
2018-08-16 10:01:00  1001.0
2018-12-18 13:33:37  1074.0

## Identifying Outliers Using Interquartile Range

In [60]:
# Write a function that locates outliers using interquartile range
def iqr_outlier(id):
    query = f'''
    select date, amount
    from anon_data
    where cardholder_id = {id}
    order by date;
    '''
    df = pd.read_sql(query, conn).set_index('date')
    q3 = np.median(df['amount'][5:])
    q1, q3 = np.percentile(df['amount'], [25, 75])
    iqr = q3 - q1
    upper_range = q3 + (1.5 * iqr)
    outlier_df = df[df['amount'] > upper_range]
    
    print(f"the median is {df['amount'].median()}")
    print(f"the upper range is {upper_range}")
    print(f"there are {outlier_df.count()[0]} outliers for cardholder id #{id}")
    outlier_df = df[df['amount'] > upper_range]
    return outlier_df

In [64]:
# Find anomalous transactions for 3 random card holders
iqr_outlier(25)

the median is 10.145
the upper range is 31.57875
there are 12 outliers for cardholder id #25

                     amount
date
2018-01-30 18:31:00  1177.0
2018-03-06 07:18:09  1334.0
2018-04-01 07:17:21   100.0
2018-04-08 06:03:50  1063.0
2018-04-09 18:28:25   269.0
2018-05-13 06:31:20  1046.0
2018-06-04 03:46:15  1162.0
2018-06-06 21:50:17   749.0
2018-06-22 06:16:50  1813.0
2018-08-16 10:01:00  1001.0
2018-10-28 02:12:58   137.0
2018-12-18 13:33:37  1074.0